$base: #141311;
$white: #fff;
$title: #16171a;
$text: #002333;
$background: #f4f4f4;
$blue: #5533ff;
$green: #23D4BD;
$purple: #7A2DFB;
$red: #E0227A;
$lightGreen: #a6ffcb;
$light: #f6f9fc;
$orange: #FF4427;

$around: space-around;
$between: space-between;
