@mixin flex-container($space){
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex: 1;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: $space;
    -ms-flex-pack: $space;
	justify-content: $space;
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
}

@mixin box-shadow($opacity){
	-webkit-box-shadow: 6px 14px 100px -29px rgba(0,0,0,$opacity);
	-moz-box-shadow: 6px 14px 100px -29px rgba(0,0,0,$opacity);
	box-shadow: 6px 14px 100px -29px rgba(0,0,0,$opacity);
}